@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: "Space Grotesk", sans-serif;
}
input {
  outline: none;
}
.main-container {
  height: 100%;
  width: 375px;
  display: flex;
  flex-direction: column;
}
.header {
  position: relative;
}
.header-desktop {
  display: none;
}
.back-card-container {
  width: 286px;
  position: absolute;
  top: 32px;
  right: 16px;
}
.card-back-side {
  width: 286px;
  position: relative;
}
.back-para {
  position: absolute;
  padding: 10.9px 10.8px 9.8px 180.2px;
  border: none;
  font-family: "Space Grotesk", sans-serif;
  width: 231px;
  height: 34.5px;
  border-radius: 4px;
  background-color: #adb5be;
  right: 26px;
  font-size: 9px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.29px;
  text-align: right;
  color: #fff !important;
  bottom: 62.5px;
}
.front-card-container {
  font-family: "Space Grotesk", sans-serif;
  position: absolute;
  width: 285px;
  left: 17px;
  bottom: -42.6px;
}
.card-front-side {
  display: block;
  width: 285px;
  position: relative;
}
.oval {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 17.6px;
  left: 19px;
}
.second-oval {
  border: solid 1px #fff;
  width: 13.6px;
  height: 13.5px;
  position: absolute;
  top: 26px;
  left: 60px;
  border-radius: 50%;
}
.card-id-para {
  width: 239px;
  position: absolute;
  outline: none;
  border: none;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  color: #fff;
  letter-spacing: 2px;
  text-align: left;
  left: 19px;
  bottom: 48.6px;
  height: 23px;
}
.card-owner-name {
  position: absolute;
  font-size: 9px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.29px;
  text-align: left;
  color: #fff;
  bottom: 20.6px;
  left: 19px;
}
.validity-period {
  position: absolute;

  font-size: 9px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.29px;
  text-align: right;
  color: #fff;
  right: 20.9px;
  bottom: 20.6px;
}
.info-section {
  display: flex;
  flex-direction: column;
  padding: 91px 24px 45px;
  align-items: flex-start;
  font-family: "Space Grotesk", sans-serif;
}
.info-input {
  width: 327px;
  padding: 11px 100px 11px 16px;
  font-family: "Space Grotesk", sans-serif;
  border-radius: 8px;
  border: solid 1px #dfdee0;
  background-color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #21092f;
  margin-bottom: 20px;
}
.info {
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2px;
  text-align: left;
  color: #21092f;
  margin-bottom: 9px;
}
.exp-date {
  display: flex;
  gap: 23px;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2px;
  text-align: left;
  color: #21092f;
}
input::placeholder {
  opacity: 0.25;
}
.MM,
.YY {
  border-radius: 8px;
  border: solid 1px #dfdee0;
  width: 72px;
  padding: 11px 24px 11px 16px;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #21092f;
}
.CVC {
  margin-left: 3px;
  border-radius: 8px;
  border: solid 1px #dfdee0;
  padding: 11px 82px 11px 16px;
  width: 164px;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #21092f;
}
.date-inputs {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  margin-bottom: 20px;
}
.confirm-btn {
  padding: 15px 130px 15px 129px;
  border-radius: 8px;
  background-color: #21092f;
  border: none;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  letter-spacing: 1.5px;
}
.confirm-btn:hover {
  cursor: pointer;
}
.complite-section {
  padding: 91px 24px 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
}
.complite {
  margin-bottom: 35px;
}
.ty-header {
  font-size: 28px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 3.42px;
  text-align: center;
  color: #21092f;
  margin-bottom: 16px;
}
.added-para {
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #8f8694;
  margin-bottom: 48px;
}
.continue-btn {
  width: 100%;
  border: none;
  padding: 15px 124px;
  border-radius: 8px;
  background-color: #21092f;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  letter-spacing: 1.5px;
}
.continue-btn:hover {
  cursor: pointer;
}
@media only screen and (min-width: 1440px) {
  body {
    overflow-x: hidden;
  }
  .main-container {
    width: 1440px;
    flex-direction: row;
  }
  .header-mobile {
    display: none;
  }
  .header-desktop {
    display: block;
    height: 100%;
  }
  .front-card-container {
    top: 186px;
    height: 245px;
    left: 164px;
  }
  .card-front-side {
    width: 447px;
  }
  .oval {
    width: 47px;
    height: 47px;
    top: 28px;
    left: 32px;
  }
  .second-oval {
    width: 21.1px;
    height: 21.1px;
    top: 40.9px;
    left: 94.9px;
  }
  .card-id-para {
    top: 139px;
    left: 32px;
    font-size: 28px;
    width: 372px;
    height: 36px;
  }
  .card-owner-name {
    top: 200.5px;
    left: 32px;
    font-size: 14px;
    width: 25ch;
    height: 18px;
    letter-spacing: 2px;
  }
  .validity-period {
    top: 200.5px;
    left: 365px;
    font-size: 14px;
    letter-spacing: 2px;
  }
  .back-card-container {
    width: 447px;
    top: 469px;
    right: -222px;
  }
  .card-back-side {
    width: 447px;
  }
  .back-para {
    top: 101px;
    left: 45px;
    width: 361px;
    height: 38px;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
  }
  .info-section,
  .complite-section {
    width: 100%;
    padding: 275px 227px 273px 349px;
  }
  .header-name {
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
  }
  .info-input {
    width: 381px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 26px;
  }
  .exp-date {
    gap: 50px;
  }
  .date-inputs {
    display: grid;
    grid-template-columns: 80px 80px 191px;
    gap: 10px;
    margin-bottom: 40px;
  }
  .date {
    font-size: 18px;
    font-weight: 500;
    padding: 11px 21px 11px 16px;
    width: 100%;
  }
  .CVC {
    margin-left: 10px;
  }
  .confirm-btn,
  .continue-btn {
    font-size: 18px;
    text-align: center;
  }
}
